/* HEADER */

.header {
    background-color: #931818;
    height: 60px;
}

.title {
    font-size: 42px;
    font-family: 'Montserrat', monospace;
    color: white;
    text-shadow: 1px 1px black; 
}

/* MENU */


/*ENTER QUEUE*/
