/* HEADER */
.title-header {
    font-size: 42px;
    font-family: 'Montserrat', monospace;
    color: white;
    text-shadow: 1px 1px black; 
}

/* HOMEPAGE */

   
   
/* TEACHER */
.red-color {
    color: red;
}

.black-color {
    color: black;
}

.white-color {
    color: white;
}

.inline {
    display: inline;
}

.no-button {
    background:none;
    border:none;
}

.mobile-button {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}


/* FOOTER */
 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
    margin-top: 60px;
  }
  